* {
    background-color: rgb(175, 162, 162);
}
h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
    font-weight: 500;
    color: aqua;
    background-color: grey;
}
ul, li, div {
    background-color: rgb(138, 125, 125);
}
h2 {
    background-color: black;
    color: bisque;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
}
.preview { 
    background-color: rgb(100, 98, 137);
    color: bisque;

}